.margin {
  margin-top: 80px;
}
.user-management-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 10px;
}

form {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 2px solid #ffa500;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f8f4f4;
  color: #333;
  font-family: Arial, sans-serif;
}

form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #ff8c00;
}

form div {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

form label {
  font-weight: bold;
  color: #333;
}

form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: #eaeaea;
  color: #666;
}

form input.ng-invalid.ng-touched,
form input:invalid {
  border-color: red;
}

form small {
  color: red;
  font-size: 0.9em;
  margin-top: 5px;
}

form div button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-right: 10px;
}

form div button[type="submit"] {
  background-color: #28a745;
  color: white;
}

form div button[type="submit"]:hover {
  background-color: #218838;
}

form div button[type="button"] {
  background-color: #ff3b3b;
  color: white;
}

form div button[type="button"]:hover {
  background-color: #e12a2a;
}

.user-management-title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  color: #3b8d99;
  position: relative;
  margin-bottom: 20px;
  display: block;
}

.user-management-title-wrapper {
  display: flex;
  justify-content: center;
}

.user-management-title::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 9.5%; 
  height: 3px;
  background-color: #f0783b;
  border-radius: 2px;
}

.toast-container {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 1055;
}

.toast {
  padding: 1rem;
  border-radius: 0.375rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.5s, fadeOut 0.5s 4.5s;
}

.text-bg-success {
  background-color: #d4edda;
  color: #155724;
}

.text-bg-danger {
  background-color: #f8d7da;
  color: #721c24;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
