<app-header></app-header>

<!-- Section Welcome -->
<div class="welcome-section">
  <img src="assets/dog-walking.jpeg" alt="Dog walking" class="welcome-image" />
  <div class="welcome-text">
    <h1>Welcome</h1>
  </div>
</div>

<!-- Section Dog Lovers -->
<div class="dog-lovers-section animate-on-scroll">
  <div class="text-container">
    <h2>Made for Dog Lovers</h2>
    <p>Discover a community dedicated to dog lovers. Connect with neighbors, share moments, and find caretakers for your companions.</p>
  </div>
  <div class="image-container">
    <img src="assets/dog-on-couch.jpg" alt="Happy dog on a couch" />
  </div>
</div>

<!-- Section No More Worries -->
<div class="no-worries-section animate-on-scroll">
  <div class="image-container">
    <img src="assets/dog-travel.jpg" alt="Dog ready to travel" />
  </div>
  <div class="text-container">
    <h2>No More Worries When You Travel</h2>
    <p>Travel with peace of mind thanks to our platform. Find trustworthy people to take care of your dog while you're away. Peace of mind for you and happiness for your furry friend!</p>
  </div>
</div>

<!-- Section How Does It Work -->
<div class="how-it-works-section animate-on-scroll">
  <h2>How Does It Work?</h2>
  <div class="steps-container">
    <div class="step animate-on-scroll">
      <h3>1. Submit a request for dog care</h3>
      <p>Describe your needs for dog care and create a request asking for help.</p>
    </div>
    <div class="step animate-on-scroll">
      <h3>2. Wait for someone to accept your request</h3>
      <p>Neighbors interested in your request will respond and agree to take care of your dog.</p>
    </div>
    <div class="step animate-on-scroll">
      <h3>3. Communicate with your helper</h3>
      <p>Discuss the details with the person to ensure everything is well-organized for your dog's care.</p>
    </div>
  </div>
</div>

<app-footer></app-footer>
