/* Section Welcome */
.welcome-section {
  position: relative;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  opacity: 0; /* First invisible */
  animation: fadeIn 1.5s forwards; /* Fade animation */
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.welcome-section .welcome-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  opacity: 0.7;  /* Adds a transparency effect to the image to better see the text */
  background-attachment: fixed;
}

.welcome-section .welcome-text {
  position: relative;
  z-index: 1;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);  /* Semi-transparent background to improve readability */
  border-radius: 10px; /* rounded borders */
}

.welcome-section h1 {
  font-size: 5rem;
  font-weight: bold;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}

/* Section Dog Lovers */
.dog-lovers-section {
  display: flex;
  flex-direction: row-reverse; /* Image on the right and text on the left */
  align-items: center;
  padding: 3rem;
  background-color: #f9f9f9;
}

.dog-lovers-section .text-container {
  flex: 1;
  padding: 1rem;
}

.dog-lovers-section h2 {
  font-size: 3rem;
  color: #444;
}

.dog-lovers-section p {
  font-size: 1.2rem;
  color: #666;
  margin-top: 1rem;
}

.dog-lovers-section .image-container {
  flex: 1;
  text-align: center;
}

.dog-lovers-section .image-container img {
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Section No Worries */
.no-worries-section {
  display: flex;
  flex-direction: row-reverse; /* Image on the left and text on the right */
  align-items: center;
  padding: 3rem;
  background-color: #ffffff;
}

.no-worries-section .text-container {
  flex: 1;
  padding: 1rem;
}

.no-worries-section h2 {
  font-size: 3rem;
  color: #444;
}

.no-worries-section p {
  font-size: 1.2rem;
  color: #666;
  margin-top: 1rem;
}

.no-worries-section .image-container {
  flex: 1;
  text-align: center;
}

.no-worries-section .image-container img {
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Section How Does It Work */
.how-it-works-section {
  padding: 4rem;
  background-color: #f8f9fa; /* Light background color */
  text-align: center;
  color: #444;
}

.how-it-works-section h2 {
  font-size: 3rem;
  color: #3b8d99;
  animation: textAnimation 2s ease-out;
}

@keyframes textAnimation {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


.steps-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* Slide animation for each step */
.step {
  background-color: #ffffff;
  padding: 2rem;
  margin: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 30%;
  opacity: 0;
  transform: translateX(-100px); /* Initial position off screen */
  animation: slideIn 1s forwards;
  animation-delay: 0.2s; /* Offset for each step */
}

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}


/* Step map rollover effect */
.step:hover {
  transform: translateY(-10px); /* Lift the element slightly */
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2); /* More pronounced shadow */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* smooth transition */
}


.step h3 {
  font-size: 2rem;
  color: #f0783b;
}

.step p {
  font-size: 1.1rem;
  color: #555;
  margin-top: 1rem;
}

/* Responsive Design */
@media (max-width: 768px) {
  .steps-container {
    flex-direction: column;
  }

  .step {
    width: 100%;
    margin-bottom: 2rem;
  }
}


/* Responsive Design */
@media (max-width: 768px) {
  .dog-lovers-section,
  .no-worries-section {
    flex-direction: column; /* Put image and text in column */
    text-align: center; /* Center text and images on mobile */
  }

  .dog-lovers-section .image-container,
  .no-worries-section .image-container {
    margin: 0 0 2rem 0;
  }

  .dog-lovers-section h2,
  .no-worries-section h2 {
    text-align: center;
  }
}





/* Initially, the elements are invisible */
.animate-on-scroll {
  opacity: 0;
  transform: translateY(30px); /* Slightly below position */
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

/* When the item becomes visible */
.animate-on-scroll.visible {
  opacity: 1;
  transform: translateY(0); /* normal position */
}