<app-header></app-header>
    <div class="accepted-requests">
        <h2>Requests Accepted</h2>

        <div *ngIf="error" class="error-message">
            <p>{{ error }}</p>
        </div>

        <div *ngIf="!error && acceptedRequests.length === 0" class="no-requests-message">
            <p>No requests accepted.</p>
        </div>

        <div *ngIf="!error && acceptedRequests.length > 0" class="requests-list">
            <div *ngFor="let request of acceptedRequests" class="request-item">
                <div class="request-photo">
                    <img *ngIf="request.photo" [src]="request.photo" alt="{{ request.dogName }}" class="dog-photo" />
                    <div *ngIf="!request.photo" class="no-photo">No photos</div>
                </div>

                <div class="request-details">
                    <h3>{{ request.dogName }}</h3>
                    <p><strong>Size:</strong> {{ request.dogCategory?.category || 'Unknown' }}</p>
                    <p><strong>Request date:</strong> {{ request.requestDate | date }}</p>
                    <p><strong>Time slot:</strong> {{ request.startTime }} - {{ request.endTime }}</p>
                </div>

                <div class="request-actions">
                    <button class="chat-btn" (click)="goToChat(request.requestId, request.helper?.firstName, request.owner?.firstName)">
                        Chat
                    </button>
                    <button class="delete-btn" (click)="deleteRequest(request.requestId)">DELETE</button>
                </div>            

            </div>
        </div>
    </div>
<app-footer></app-footer>
