<div>
    <app-header></app-header>
</div>

<div class="requests">
  <div class="request-card" *ngFor="let request of requests | paginate: { itemsPerPage: 4, currentPage: page }">
    <div class="request-header">
      <h3>Date: {{ request.requestDate | date: 'dd/MM/yyyy'  }}</h3>
      <p>Heure: {{ request.startTime  }} - {{ request.endTime }}</p>
    </div>
    
    <div class="request-body">
      <p><strong>Dog name:</strong> {{ request.dogName }}</p>
      <p><strong>Comment:</strong> {{ request.comment }}</p>

      <div *ngIf="request.helper" class="helper-info" (click)="seeHelperProfile(request.helper.id)">
        <p><strong>Helper:</strong> {{ request.helper.firstName }} {{ request.helper.lastName }}</p>
        <p><strong>Helper contact:</strong> {{ request.helper.mail }}</p>
        <p><strong>Helper location:</strong> {{ request.helper.city }}, {{ request.helper.country }}</p>
        <p style="text-align: right; color: #007bff;">
          <strong>Click here to see profile</strong> →
        </p>
      </div>
      <button 
        *ngIf="request.helper" 
        class="btn btn-chat" 
        (click)="goToChat(request.requestId, request.helper?.firstName, request.owner?.firstName)">
        Chat
       </button>
    </div>

    <div class="request-footer">
      <button class="btn btn-edit" (click)="editRequest(request.requestId)">Modify</button>
      <button class="btn btn-delete" (click)="deleteRequest(request.requestId, request.helper)">Delete</button>


      <button 
        *ngIf="isRequestDatePassed(request.requestDate, request.endTime) && request.helper" 
        class="btn btn-evaluate" 
        (click)="evaluateHelper(request.helper.id, request.requestId)">
        Evaluate Helper
      </button>

      
    </div>
  </div>

  

  
  <div class="create-button-container">
    <button class="btn btn-create" (click)="createRequest()">Create a new request</button>
  </div>
  
</div>

<div class="fixed-pagination-container">
  <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div>