<div class="header-container">
  <div class="logo" (click)="navigateToHome()">
    <img src="assets/logo.jpg" alt="HappyPaws Logo" />
    <span class="logo-text">HappyPaws</span>
  </div>
  <nav class="navigation">
    <button *ngIf="isLoggedIn" (click)="seeMap()">View Request (Map)</button>
    <button *ngIf="isLoggedIn" (click)="seeRequests()">Create Request</button>
    <button *ngIf="isLoggedIn" (click)="seeProfile()">Profile</button>
    <button *ngIf="!isLoggedIn" (click)="login()">Login</button>
    <button *ngIf="isLoggedIn && isAdmin" (click)="seeAdminPage()">Admin</button>
    <button *ngIf="isLoggedIn" (click)="logout()">Sign-out</button>
  </nav>
</div>
