.chat-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 80vh;
  background-color: #f9f9f9;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-top: 60px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.conversation-header {
  margin-bottom: 20px;
  text-align: center;
}

.conversation-title {
  font-size: 1.8em;
  font-weight: 600;
  color: #333;
  margin-bottom: 10px;
}

.user-name {
  color: #007bff;
  font-style: italic;
}

.request-title {
  font-size: 1.2em;
  color: #666;
}

.chat-messages {
  flex-grow: 1;
  overflow-y: auto;
  margin-bottom: 20px;
  scroll-behavior: smooth;
}

.message {
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  position: relative;
}

.message-sender {
  font-size: 0.85em;
  font-weight: 400;
  color: #999;
  margin-bottom: 5px;
  text-align: center;
}

.my-message .message-sender {
  text-align: right;
  color: #007bff;
}

.other-message .message-sender {
  text-align: left;
  color: #333;
}

.message-content {
  padding: 12px;
  background-color: #e6f7ff;
  border-radius: 8px;
  max-width: 75%;
  font-size: 1em;
  margin-bottom: 5px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
}

.my-message .message-content {
  background-color: #007bff;
  color: white;
  align-self: flex-end;
}

.other-message .message-content {
  background-color: #e6f7ff;
  color: black;
  align-self: flex-start;
}

.message-time {
  font-size: 0.8em;
  color: #999;
  position: absolute;
  bottom: -18px;
  left: 0;
  right: 0;
  text-align: center;
}

.my-message .message-time {
  text-align: right;
  right: 0;
  left: auto;
}

.other-message .message-time {
  text-align: left;
  left: 0;
  right: auto;
}

.status-text {
  font-size: 0.9em;
  color: #999;
  margin-bottom: 5px;
  text-align: center;
}

.read {
  color: green;
}

.unread {
  color: red;
}

.my-message .status-text {
  text-align: right;
}

.other-message .status-text {
  text-align: left;
}

.chat-footer {
  display: flex;
  align-items: center;
  margin-top: 20px;
  justify-content: space-between;
}

.message-input {
  width: 85%;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 1em;
  resize: none;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
}

.send-button {
  padding: 12px 25px;
  border-radius: 6px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s;
}

.send-button:hover {
  background-color: #0056b3;
}

.send-button:focus {
  outline: none;
}

.message-status {
  font-size: 0.9em;
  color: #999;
}
